<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="header">
      <div class="header-logo"><a href="/">TheerMy</a></div>
      <ul class="header-list">
        <li><a href="/management">体温管理</a></li>
        <li><a href="/about">TheerMyとは</a></li>
      </ul>
    </div>

    <%= yield %>

  </body>
</html>
